/*****************************
 *     MASTER STYLESHEET     *
 *****************************
 *      TABLE OF CONTENT     *
 *****************************

1. Imported Styles
2. Global styles
3. Header styles
4. Slider styles
5. Slider Bottom styles
6. Gym Area styles
22. Poplular Class styles
27. Footer styles
29. Inner banner styles
32. Sidebar styles
33. Blog styles
34. contact styles

 *****************************
 *    End TABLE OF CONTENT   *
 *****************************/


/** -------------------------------- *
 *  1. Imported styles               *
 *  -------------------------------- */
@import url(import/bootstrap.min.css);
@import url(import/font-awesome.min.css);
@import url(import/settings.css);
@import url(import/layers.css);
@import url(import/navigation.css);
@import url(import/jquery-ui.css);
@import url(import/owl.carousel.css);
@import url(import/owl.theme.default.min.css);
@import url(import/animate.min.css);
@import url(import/jquery.fancybox.css);
@import url(import/flaticon.css);
@import url(import/polyglot-language-switcher.css);
@import url(import/nouislider.css);
@import url(import/nouislider.pips.css);
@import url(import/jquery.bootstrap-touchspin.css);
@import url(import/style.css);
@import url(import/menuzord.css);
@import url(import/bootstrap-select.min.css);

/** -------------------------------- *
 *   2. Global styles                *
 *  -------------------------------- */

body {
    font-family: Verdana, Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    perspective: 1000;
}

img {
    max-width: 100%;
}

a, a:hover, a:focus {
    text-decoration: none;
    outline: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Verdana, Arial, sans-serif;
}

input, textarea {
    outline: none;
}

p {
    font-family: Verdana, Serif, sans-serif;
    text-align: justify;
}

@media (min-width: 1200px) {
    .container {
        padding: 0;
    }
}

.section-padding {
    padding: 80px 0;
}

.section-padding.page-title {
    padding-bottom: 30px;
}

.section-title {
    padding-bottom: 60px;
}

.section-title a {
  /*  color: #a6c311;*/
    background: #ffffff;
    font-family: Verdana, Arial, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 2px;
    font-weight: 600;
}

.section-title h1 {
    color: #272727;
    font-size: 30px;
    margin-bottom: -6px;
    margin-top: -6px;
    position: relative;
    text-transform: uppercase;
    font-weight: 700;
    background: rgba(0, 0, 0, 0) url("../images/title-bg.png") repeat-x left center;
}

.section-title h1 span {
    background: #ffffff;
    padding-right: 30px;
}

.section-title.text-center h1 span {
    padding-left: 30px;
    padding-right: 30px;
}

.title-3 {
    position: relative;
    background: url('../images/texture.png') repeat;
}

.title-3 * {
    position: relative;
}

.title-3:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #9A1818;
    display: block;
    opacity: .95;
}

.title-3 .section-title span {
    background: rgb(103, 0, 0);
}

.flip-flop-btn span:not(.indicator) {
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    display: block;
}

.flip-flop-btn span:not(.indicator)::before {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    content: attr(data-hover);
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    transition: background 0.3s;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    transform-origin: 50% 0;
    border-radius: 0;
    background-size: 100%;
    cursor: pointer;
}

.flip-flop-btn:hover span {
    -webkit-transform: rotateX(90deg) translateY(-22px);
    -moz-transform: rotateX(90deg) translateY(-22px);
    transform: rotateX(90deg) translateY(-22px);
}

.arrow-push-in-left span {
    display: inline-block;
    position: relative;
    transition: all 0.3s ease-out !important;
    will-change: transform;
}

.arrow-push-in-left:hover span {
    transform: translate3d(7px, 0, 0);
}

.arrow-push-in-left i {
    position: absolute !important;
    left: 0;
    opacity: 0;
    top: 50%;
    margin-top: -1px;
    transform: translateY(-50%);
    transition: all 0.3s ease-out !important;
    will-change: right, opacity;
}

.arrow-push-in-left:hover i {
    opacity: 1;
    left: -14px;
}

.arrow-push-in-right span {
    display: inline-block;
    position: relative;
    transition: all 0.3s ease-out !important;
    will-change: transform;
}

.arrow-push-in-right:hover span {
    transform: translate3d(-7.5px, 0, 0);
}

.arrow-push-in-right i {
    position: absolute !important;
    right: 0;
    opacity: 0;
    top: 50%;
    margin-top: -1px;
    transform: translateY(-50%);
    transition: all 0.3s ease-out !important;
    will-change: right, opacity;
}

.arrow-push-in-right:hover i {
    opacity: 1;
    right: -15px;
}

.arrow-push-out-left span {
    display: inline-block;
    position: relative;
    transform: translate3d(7.5px, 0, 0);
    transition: all 0.3s ease-out !important;
    will-change: transform;
}

.arrow-push-out-left:hover span {
    transform: translate3d(0px, 0, 0);
}

.arrow-push-out-left i {
    position: absolute !important;
    left: -15px;
    opacity: 1;
    top: 50%;
    margin-top: -1px;
    transform: translateY(-50%);
    transition: all 0.3s ease-out !important;
    will-change: right, opacity;
}

.arrow-push-out-left:hover i {
    opacity: 0;
    left: 15px;
}

.arrow-push-out-right span {
    display: inline-block;
    position: relative;
    transform: translate3d(-7.5px, 0, 0);
    transition: all 0.3s ease-out !important;
    will-change: transform;
}

.arrow-push-out-right:hover span {
    transform: translate3d(0px, 0, 0);
}

.arrow-push-out-right i {
    position: absolute !important;
    right: -15px;
    opacity: 1;
    top: 50%;
    margin-top: -1px;
    transform: translateY(-50%);
    transition: all 0.3s ease-out !important;
    will-change: right, opacity;
}

.arrow-push-out-right:hover i {
    opacity: 0;
    right: 15px;
}

.scroll-to-top {
    position: fixed;
    bottom: 30px;
    right: 15px;
    background: #202223;
    font-size: 35px;
    font-weight: normal;
    text-align: center;
    width: 52px;
    height: 52px;
    line-height: 47px;
    color: #545454;
    cursor: pointer;
    display: none;
    z-index: 99999;
    border-radius: 50%;
}

.header {
    background: rgba(0, 0, 0, 0.85);
}

.header .logo {
    padding: 59px 0;
}

.header .header-top {
    transition: all .5s ease;
    margin-top: 0;
    overflow: hidden;
}

.header .header-top .top-info {
    position: relative;
    padding: 9px 0;
}

.header .header-top .top-info::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 20000px;
    height: 100%;
    background: #9A1818 url("../images/dots.png") repeat center center;
    border-bottom-left-radius: 5px;
    transform: skewX(45deg);
}

.header .header-top .contact-info {
    margin: 0;
    display: inline-block;
    position: relative;
    padding: 5px 0;
}

.header .header-top div.contact-info {
    display: inline-block;
}

.header .header-top div.contact-info span {
    display: block;
    color: #f7f7f7;
    font-size: 24px;
    padding-left: 15px;
    text-transform: uppercase;
    margin-left: 37px;
    font-weight: bold;
}

.header .header-top div.contact-info a {
    color: #f7f7f7;
}

.header .header-top div.contact-info span i {
    margin-right: 5px;
    font-size: 24px;
    vertical-align: top;
    display: inline-block;
}

.header .header-top .social {
    margin: 0;
    padding: 0;
    position: relative;
}

.header .header-top .social li {
    display: inline-block;
    list-style: none;
}

.header .header-top .social li a {
    display: block;
    font-size: 18px;
    color: #f7f7f7;
    background: #9bb60e;
    text-align: center;
    line-height: 38px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    margin-left: 5px;
}

.header .header-top .social li a i.fa-google-plus {
    font-size: 17px;
}

@media (min-width: 1025px) {
    .header .menuzord {
        padding: 0;
        background-color: transparent;
    }
    .menuzord-brand {
        margin: 0;
        tranform: scale(1);
        line-height:100px;
        transition: all .5s ease !important;
    }
    .header .menuzord-menu {
        float: right;
    }
    .header .menuzord-menu > li > a {
        position: relative;
    }
    .header .menuzord-menu > li > a:before {
        content: '';
        position: absolute;
        bottom: -4px;
        left: 0;
        width: 0;
        height: 4px;
        background: #9A1818;
        transition: all .5s ease;
    }
    .header .menuzord-menu > li:hover > a:before {
        width: 100%;
    }
    .header .menuzord-menu > li:hover > a.flip-flop-btn > span {
        -webkit-transform: rotateX(90deg) translateY(-22px);
        -moz-transform: rotateX(90deg) translateY(-22px);
        transform: rotateX(90deg) translateY(-22px);
    }
    .header .menuzord-menu > li > a {
        font-size: 14px;
        font-family: Verdana, Arial, sans-serif;
        font-weight: 900;
        text-transform: uppercase;
        color: #ffffff;
        line-height: 42px;
        padding: 36px 19.5px;
        transition: all .5s ease;
    }
    .header.header-v4 .menuzord-menu > li:hover > a {
        color: #272727;
    }
    .header .menuzord-menu > li:hover > a {
        color: #9A1818;
    }
    .header .menuzord-menu > li > a .indicator {
        display: none;
    }
    .header .menuzord-menu ul.dropdown li a {
        font-size: 14px;
        color: #333;
        font-weight: 300;
        font-family: Verdana, Arial, sans-serif;
    }
    .header .menuzord-menu ul.dropdown,
    .header .menuzord-menu ul.dropdown li ul.dropdown {
        min-width: 270px;
        border-top: 4px solid #9A1818;
        padding: 10px;
    }
    .header .menuzord-menu ul.dropdown li:hover > a {
        background: #f7f7f7;
        color: #9A1818;
    }
}

.header-v2 {
    background: #ffffff;
    position: relative;
}

.header-v2 .header-top {
    overflow: hidden;
}

@media (min-width: 1025px) {
    .header-v2.header .menuzord-menu > li > a {
        color: #272727;
    }
    .header-v2.header .menuzord-menu > li:hover > a {
        color: #9A1818;
    }
}

@media (min-width: 1025px) {
    .header.home-3 {
        background: transparent;
    }
    .header.home-3 .container {
        background: #141516;
    }
    .header.home-3 .container .menuzord-brand {
        display: none;
    }
    .header.home-3 .container .menuzord-menu {
        float: none;
        text-align: center;
    }
    .header.home-3 .container .menuzord-menu li {
        text-align: left;
    }
    .header.home-3 .container .menuzord-menu > li > a {
        padding: 13px 20px;
    }
    .header.home-3 .menuzord-menu > li {
        float: none;
        vertical-align: top;
    }
}

.header.home-3 .container {
    position: relative;
    margin-bottom: -55px;
    z-index: 9999;
}

.header.home-3 .search-box {
    height: 70px;
    padding-left: 30px;
    font-size: 30px;
}

.header.home-3 .search-box form {
    height: 100%;
}

.header.home-3 .search-box input {
    font-size: 30px;
    height: 100%;
    line-height: 70px;
}

.header.home-3.sticky-fixed .container {
    margin-top: 0;
    top: 0;
}

.header.home-3 .has-angle {
    position: relative;
}

.header.home-3 .has-angle:before,
.header.home-3 .has-angle:after {
    content: '';
    position: absolute;
    bottom: 0;
    top: 17px;
    width: 0;
    height: 0;
}

.header.home-3 .has-angle:before {
    left: -55px;
    transform: rotate(0deg);
    border-top: 55px solid #9A1818;
    border-bottom: 55px solid transparent;
    border-left: 55px solid transparent;
}

.header.home-3 .has-angle:after {
    right: -55px;
    transform: rotate(-180deg);
    border-top: 55px solid transparent;
    border-bottom: 55px solid #9A1818;
    border-left: 55px solid transparent;
}


/* home three topbar area styles */

.top-bar-area.home-3 {
    background: #9A1818 none repeat scroll 0 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.top-bar-area.home-3 {
    background: #9A1818;
    padding: 8px 0;
}

.top-bar-area.home-3 .contact-info {
    margin: 0;
    padding: 0;
}

.top-bar-area.home-3 .contact-info li {
    list-style: none;
}

.top-bar-area.home-3 .contact-info li span i {
    font-size: 19px;
    top: 1px;
    position: relative;
}

.top-bar-area.home-3 .contact-info li span i.ftc-icon-phone-contact {
    top: 3px;
}

.top-bar-area .contact-info li {
    float: left;
    padding-right: 40px;
}

.top-bar-area.home-3 .contact-info li span {
    color: #f7f7f7;
    font-size: 16px;
    line-height: 34px;
}

.top-bar-area.home-3 .contact-info li span i {
    display: inline-block;
    padding-right: 5px;
}

.top-bar-area.home-3 .social {
    text-align: right;
    margin: 0;
    padding: 0;
    list-style: none;
}

.top-bar-area.home-3 .social li {
    display: inline-block;
    list-style: none;
}

.top-bar-area.home-3 .social li a i {
    background: #9bb60e none repeat scroll 0 0;
    border-radius: 50%;
    color: #ffffff;
    display: block;
    font-size: 18px;
    height: 38px;
    line-height: 38px;
    margin-left: 6px;
    padding: 0 10px;
    width: 38px;
}

.top-bar-area.home-3 .social li a i.myfbpd {
    padding: 0 14px;
}

.logo-area-h3 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.header-v4 {
    background: rgba(255, 255, 255, 0.2);
}

.header-v4.sticky-fixed {
    background: #000000;
}

.header.header-v5 {
    background: #0E0E0E;
}

.header.header-v5 .menuzord-brand {
    line-height: 111px;
}

.sticky {
    /*position: fixed;*/
    /*top: 0;
    left: 0;
    width: 100%;
    z-index: 99;*/
    box-shadow: 0 1px 9px rgba(0, 0, 0, .1);
    transition: all .5s ease;
}

.sticky-fixed.header .header-top {
    /*visibility: hidden;
    opacity: 0;*/
    /*margin-top: -56px;*/
}

.sticky-fixed.header .search-box {
    height: 80px;
}

@media (min-width: 1025px) {
    .sticky-fixed.header.header-v1,
    .sticky-fixed.header.header-v4 {
        background: #000;
    }
    .sticky-fixed.header.header-v4 .menuzord-menu > li:hover > a {
        color: #9A1818;
    }
    .sticky-fixed.header .menuzord-menu > li > a {
        padding: 17px 19px;
    }
    .sticky-fixed.header .menuzord-brand {
        line-height: 63px;
        transform: scale(0.9);
    }
    .sticky-fixed.header.static {opacity: 0;}
}

.menuzord {
    background-color: transparent;
}

.menuzord-responsive .menuzord-menu li .indicator {
    padding: 10px 0;
}

.menuzord-responsive .menuzord-menu li .indicator em {
    background: #fff none repeat scroll 0 0;
    float: right;
    height: 3px;
    margin: 3.5px 20px 0;
    width: 20px;
}

@media (min-width: 1025px) {
    .menuzord-menu > li > a span.text {
        display: none;
    }
}


.header.has-over-section {
    position: relative;
    z-index: 9999999;
}

@media(min-width: 1024px) {
    .header.has-over-section + section,
    .header.has-over-section + div {
        margin-top: -175px;
    }
}
.header.sticky-fixed .header-menu-wrapper {
    position: fixed;
    top:0;
    left:0;
    /*z-index: 99999999;*/
    z-index: 1049;
    width: 100%;
}
.header.sticky-fixed.dark-header .header-menu-wrapper {
    background: rgba(0, 0, 0, 0.85);
}
.header.sticky-fixed.light-header .header-menu-wrapper {
    background: #ffffff;
    -webkit-box-shadow: 0 1px 9px rgba(0, 0, 0, .1);
    box-shadow: 0 1px 9px rgba(0, 0, 0, .1);
}


/** -------------------------------- *
 *   4. Slider styles                *
 *  -------------------------------- */

.rev_slider_wrapper .banner-caption-h1 {
    font-size: 64px;
    line-height: 64px;
    color: #ffffff;
    font-family: Verdana, Arial, sans-serif;
    font-weight: 900;
    text-transform: uppercase;
}

.rev_slider_wrapper .banner-caption-bg {
    padding: 0 20px;
    position: relative;
    font-family: Verdana, Arial, sans-serif;
}

/* .top-info .pull-left span {
    position: relative;
} */

/* .top-info .pull-left span::before, */
.rev_slider_wrapper .banner-caption-bg:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #9A1818 url("../images/dots.png") repeat center center;
    content: '';
    transform: skewx(-10deg);
}

.rev_slider_wrapper .banner-caption-bg span {
    position: relative;
}

.rev_slider_wrapper .banner-caption-bg span img {
    position: relative;
    bottom: 7px;
}

.rev_slider_wrapper .banner-caption-h1-large {
    color: #ffffff;
    font-size: 80px;
    font-style: italic;
    line-height: 109px;
    font-weight: 800;
    text-transform: uppercase;
}

.rev_slider_wrapper .slider-3 .banner-caption-h1.banner-caption-bg {
    font-size: 64px;
    line-height: 64px;
    padding: 5px 20px;
}

.rev_slider_wrapper .feature-list-item .icon-box,
.rev_slider_wrapper .feature-list-item .text-box {
    display: table-cell;
    vertical-align: middle;
}

.rev_slider_wrapper .feature-list-item .icon-box .box {
    color: #ffffff;
    background: #9A1818;
    font-size: 18px;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    text-align: center;
    line-height: 64px;
    position: relative;
}

.rev_slider_wrapper .feature-list-item .icon-box .box:before {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border: 1px dashed #ffffff;
    border-radius: 50%;
}

.rev_slider_wrapper .feature-list-item .text-box {
    padding-left: 10px;
}

.rev_slider_wrapper .feature-list-item .text-box p {
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
    margin: 0;
    font-weight: bold;
}

.rev_slider_wrapper .banner-caption-h1.medium {
    font-size: 60px;
}

.rev_slider_wrapper .banner-caption-p {
    font-size: 18px;
    font-family: Verdana, Arial, sans-serif;
    font-weight: 300;
    color: #ffffff;
}

.rev_slider_wrapper .banner-caption-p.large {
    font-size: 24px;
}

.rev_slider_wrapper #slider2 .banner-caption-h1 {
    font-size: 64px;
}

.rev_slider_wrapper #slider2 .banner-caption-bg:before {
    display: none;
}

.rev_slider_wrapper #slider2 .banner-caption-bg span {
    padding: 0 10px;
}

.rev_slider_wrapper #slider2 .banner-caption-bg span:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #9A1818 url(../images/dots.png) repeat center center;
    content: '';
    transform: skewx(-10deg);
    z-index: -1;
}

.rev_slider_wrapper .tparrows {
    width: 60px;
    height: 60px;
    background: rgba(0, 0, 0, 0.8);
    display: block;
    font-size: 23px;
    opacity: 1 !important;
    visibility: visible !important;
    padding: 0;
    line-height: 60px;
    color: #fff;
    transition: all .3s ease;
}

.rev_slider_wrapper .tparrows:before {
    line-height: inherit;
    font-size: inherit;
    color: inherit;
    transition: inherit;
}

.rev_slider_wrapper .tparrows:hover {
    background: #9A1818;
}

/** -------------------------------- *
 *   6. Gym Area styles              *
 *  -------------------------------- */

.fitness-care-gym-area {
    padding-bottom: 3px;
    padding-top: 0;
    position: relative;
    top: -46px;
}

.fitness-care-gym-area .section-title h1::before {
    top: 18px;
    width: 330px;
}

.fitness-care-gym-area .section-title h1::after {
    top: 18px;
    width: 330px;
}

.fitness-care-gym-area .single-item {
    position: relative;
    margin-bottom: 30px;
}

.fitness-care-gym-area .single-item .left-box {
    /*border: 2px solid #f7f7f7;*/
    /*float: left;
   /* height: 188px;*/
    /*width: 90px;*/
    z-index: -1;

    position: relative;
}

.fitness-care-gym-area .single-item .right-box {
/*    border: 2px solid #f7f7f7;*/
    /*height: 188px;*/
    /*left: 30px;
    overflow: hidden;*/
    /*padding: 25px 15px 10px 50px;

    width: 450px;*/
}

/* AGREGADO POR SEBA 03/07/2019 */
.fitness-care-gym-area .single-item .button {
    border: 1px solid #f7f7f7;
    margin: 0;
    overflow: hidden;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 0px;
    padding-right: 0px;
    transition: background .3s ease;

    /*Add by Xinergia*/

}

.fitness-care-gym-area .single-item  .button a {
    background: #9A1818 none repeat scroll 0 0;
    color: #ffffff;
    font-family: Verdana, Arial, sans-serif;
    font-weight: 700;
    height: 50px;
    padding: 13px 0;
    text-align: center;
    text-transform: uppercase;
    width: 150px;
    transition: background .3s ease;
}

.fitness-care-gym-area .single-item  .button a:hover {
    background: #272727;
}

.fitness-care-gym-area .single-item  .button a.black {
    background: #272727;
}

.fitness-care-gym-area .single-item .right-box p {
    font-family: Verdana, Arial, sans-serif;
    font-size: 14px;
    color: #222;
    line-height: 24px;
}

.fitness-care-gym-area .single-item .right-box h3 {
    margin: 0 0 8px;
    font-size: 24px;
    font-weight: 700;
    color: #323232;
    line-height: 30px;
    /*text-transform: capitalize;*/
}

.fitness-care-gym-area .single-item .icon-holder {
    background: #f7f7f7 none repeat scroll 0 0;
    float: left;
    height: 120px;
    left: 20px;
    position: absolute;
    top: 35px;
    width: 120px;
    z-index: 1;
    overflow: hidden;
}

.fitness-care-gym-area .single-item .icon-holder::before {
    background: #9A1818;
    content: "";
    position: absolute;
    right: 182px;
    top: -182px;
    width: 100%;
    height: 100%;
    transform: rotate(45deg) scale(3.2);
    transition: all .5s ease;
}

.fitness-care-gym-area .single-item:hover .icon-holder:before {
    right: 0px;
    top: 0px;
}

.fitness-care-gym-area .single-item .icon-holder i {
    color: #9A1818;
    font-size: 60px;
    display: block;
    text-align: center;
    line-height: 120px;
    position: relative;
    z-index: 9;
    transition: all .5s ease;
}

.fitness-care-gym-area .single-item:hover .icon-holder i {
    color: #fff;
}

/** -------------------------------- *
 *   27. Footer styles               *
 *  -------------------------------- */

.footer-area {
    background: #141516 none repeat scroll 0 0;
    padding-bottom: 10px;
    padding-top: 40px;
}

.single-footer-widget .footer-logo {
    margin: 0 0 32px;
}

.single-footer-widget .caption-text p {
    color: #f7f7f7;
    line-height: 28px;
    margin: 0 0 31px;
}

.single-footer-widget h3.title {
    color: #f7f7f7;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    padding-bottom: 14px;
    padding-left: 20px;
    padding-top: 15px;
    position: relative;
    text-transform: uppercase;
    z-index: 1;
    margin: 0 0 40px;
}

.single-footer-widget h3.title:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 270px;
    height: 60px;
    content: "";
    background: url(../images/footer-bg.png);
    z-index: -1;
}

.single-footer-widget ul.quick-links {
    margin-top: -11px;
}

.single-footer-widget ul.quick-links.left {
    float: left;
    margin: 0;
    padding: 0;
    padding-right: 50px;
    border-right: 1px solid #1c1c1c;
    margin-right: 25px;
    margin-top: -10px;
}

.single-footer-widget ul.quick-links li {
    list-style: none;
}

.single-footer-widget ul.quick-links li a {
    color: #f7f7f7;
    font-weight: 400;
    line-height: 34px;
    font-family: Verdana, Arial, sans-serif;
    transition: all .3s ease;
}

.single-footer-widget ul.quick-links li a:hover {
    color: #9A1818;
}

.single-footer-widget ul.recent-news {
    margin: 0;
    padding: 0;
    margin-top: -3px;
}

.single-footer-widget ul.recent-news li {
    list-style: none;
    border-bottom: 1px solid #1c1c1c;
    margin-bottom: 16px;
    padding-bottom: 16px;
}

.single-footer-widget ul.recent-news li:last-child {
    border-bottom: none;
}

.single-footer-widget ul.recent-news li .box {
    width: 75px;
    position: relative;
}

.single-footer-widget ul.recent-news li .box .overlay {
    position: relative;
}

.single-footer-widget ul.recent-news li:hover .box .overlay .content-box {
    opacity: 1;
}

.single-footer-widget ul.recent-news li .box .overlay .content-box {
    background: #9A1818 none repeat scroll 0 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    opacity: 0;
    transition: all .5s ease;
}

.single-footer-widget ul.recent-news li .box .overlay .icon-holder i {
    color: #ffffff;
    font-size: 27px;
    margin-top: 0;
    position: relative;
    top: 6px;
}

.single-footer-widget ul.recent-news li .box .overlay .text p {
    margin: 0;
    line-height: 20px;
    color: #f7f7f7;
    font-family: Verdana, Arial, sans-serif;
    font-weight: 700;
    transition: all .3s ease;
}

.single-footer-widget ul.recent-news li .content {
    padding-left: 25px;
}

.single-footer-widget ul.recent-news li .box,
.single-footer-widget ul.recent-news li .content {
    display: table-cell;
    vertical-align: middle;
}

.single-footer-widget ul.recent-news li .content p {
    color: #f7f7f7;
    font-family: Verdana, Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    margin: 0 0 3px;
    transition: all .3s ease;
}

.single-footer-widget ul.recent-news li .content p:hover {
    color: #9A1818;
}

.single-footer-widget ul.recent-news li .content span {
    color: #f7f7f7;
    font-weight: 400;
    font-family: Verdana, Arial, sans-serif;
}

.single-footer-widget ul.contact {
    margin: 0;
    padding: 0;
    margin-top: -8px;
    padding-left: 17px;
}

.single-footer-widget ul.contact li {
    list-style: none;
    border-bottom: 1px solid #1c1c1c;
    color: #f7f7f7;
    font-family: Verdana, Arial, sans-serif;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 12px;
    padding-bottom: 3px;
}

.single-footer-widget ul.contact li a {
    color:#FFF !important;
}

.single-footer-widget ul.contact li:last-child {
    border-bottom: none;
}

.single-footer-widget ul.contact li .icon-holder {
    float: left;
    margin-right: 20px;
    padding-top: 3px;
}

.single-footer-widget ul.contact li .icon-holder i {
    font-size: 18px;
    color: #9A1818;
}

.single-footer-widget ul.contact li .text {
    overflow: hidden;
}

.footer-bottom-area {
    background: #141516;
}

.footer-bottom-area .footer-bottom {
    height: 55px;
    position: relative;
}

.footer-bottom-area .footer-bottom:before {
    content: '';
    position: absolute;
    top: 0;
    right: 20px;
    bottom: 0;
    left: 40%;
    background: #9A1818;
    transform: skew(45deg);
}

.footer-bottom-area .footer-bottom:after {
    content: '';
    position: absolute;
    top: 0;
    left: -28px;
    bottom: 0;
    right: 40%;
    background: #9A1818;
    transform: skew(-45deg);
}

.footer-bottom-area .footer-bottom .copy-right p {
    color: #f7f7f7;
    font-family: Verdana, Arial, sans-serif;
    font-weight: 700;
    line-height: 27px;
    margin: 0;
    padding: 13px 0 14px 20px;
    position: relative;
    z-index: 9;
}
.footer-bottom-area .footer-bottom .copy-right a {
    color: #f7f7f7;
    font-family: Verdana, Arial, sans-serif;
    font-weight: 700;
    line-height: 27px;
    margin: 0 10px 0 0;
    padding: 13px 0 14px 20px;
    position: relative;
    z-index: 9;
}

.footer-bottom-area .footer-bottom .social-links {
    padding-top: 8px;
    padding-right: 60px;
    position: relative;
    z-index: 9;
}

.footer-bottom-area .footer-bottom .social-links a i {
    background: #9bb60e none repeat scroll 0 0;
    border-radius: 50%;
    color: #ffffff;
    font-size: 18px;
    height: 38px;
    margin-right: 7px;
    padding: 10px 12px;
    width: 38px;
}

.footer-texture {
    background: url(../img/resources/texture/footer-bg.png) 0 0 repeat-x;
    width: 100%;
    height: 48px;
    margin-top: -48px;
    position: relative;
    z-index: 9;
}


/** -------------------------------- *
 *   28. Inner banner styles         *
 *  -------------------------------- */


/** -------------------------------- *
 *   29. Inner banner styles         *
 *  -------------------------------- */

.inner-banner {
    padding: 77px 0;
}

.inner-banner h1 {
    font-size: 40px;
    line-height: 45px;
    font-weight: bold;
    margin: 0;
    color: #ffffff;
    text-transform: uppercase;
}

.inner-banner h2 {
    font-size: 36px;
    line-height: 30px;
    font-weight: bold;
    margin: 0;
    color: #ffffff;
    text-transform: uppercase;
}

.inner-banner p {
    margin: 17px 0 0;
    font-family: Verdana, Arial, sans-serif;
    font-size: 18px;
    text-align: center;
    line-height: 30px;
    color: #ffffff;
}

/** -------------------------------- *
 *   32. Sidebar styles              *
 *  -------------------------------- */

.sidebar-page-content {
    padding-right: 40px;
}

.sidebar-page-content .inner-page-wrapper {
    padding-right: 65px;
    border-right: 1px solid #f7f7f7;
}

.pull-right .sidebar-page-content {
    padding-right: 0;
    padding-left: 40px;
}

.pull-right .sidebar-page-content .inner-page-wrapper {
    padding-right: 0;
    border: none;
    padding-left: 65px;
    border-left: 1px solid #f7f7f7;
}

.sidebar-wrapper {
    color: #9e9e9e
}

/** -------------------------------- *
 *   34. contact styles              *
 *  -------------------------------- */

.contact-section {
    padding-bottom: 60px;
}
.contact-section.contact-page {
    padding-bottom: 80px;
}

.home-contact-form {
    padding: 20px;
    box-shadow: 0 0 10px 0.5px rgba(0, 0, 0, 0.07);
    background: #ffffff url(../images/strip.png) repeat;
}

/*.home-contact-form input,
.home-contact-form textarea,*/
.home-contact-form button {
    width: 100%;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    background: #FCFCFC;
}

.home-contact-form input {
    /*height: 50px;
    background: #FCFCFC;
    margin-bottom: 20px;
    padding-left: 20px;
    border: 1px solid #F8F6F6;*/
}

.home-contact-form textarea {
   /* background: #FCFCFC;
    padding-left: 20px;
    padding-top: 15px;
    height: 214px;
    border: 1px solid #F8F6F6;*/
   height: 214px;
}

.home-contact-form button {
    background: #9A1818;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 14px;
    font-weight: 900;
    line-height: 50px;
    margin-top: 10px;
    transition: all 0.5s ease;
}

.home-contact-form button:hover {
    background: #272727;
}

.contact-info-box {
    background: #ffffff url(../images/strip.png) repeat;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid #f7f7f7;
}

.contact-info-box h3,
.contact-info-box ul,
.contact-info-box li,
.contact-info-box p {
    margin: 0;
    padding: 0;
    list-style: none;
}

.contact-info-box h3 {
    font-size: 28px;
    line-height: 36px;
    font-weight: bold;
    color: #323232;
}

.contact-info-box ul {
    margin-top: 15px;
}

.contact-info-box li {
    margin-bottom: 15px;
}

.contact-info-box .icon-box,
.contact-info-box .text-box {
    display: table-cell;
    vertical-align: top;
}

.contact-info-box .icon-box {
    width: 30px;
}

.contact-info-box .icon-box i {
    font-size: 18px;
    color: #9A1818;
    line-height: 24px;
}

.contact-info-box .text-box {
    padding-left: 0;
}

.contact-info-box .text-box p {
    font-size: 16px;
    line-height: 24px;
    font-family: Verdana, Arial, sans-serif;
    color: #9e9e9e;
    font-weight: normal;
}

body {transition: width .4s ease;}

.fitness-care-gym-area {top: 20px; margin-bottom: 10px;}

.fitness-care-gym-area.fix { margin-top: 30px;}

.header .header-top .top-info:before,
.header .menuzord-menu > li > a:before,
.rev_slider_wrapper .banner-caption-bg:before,
.rev_slider_wrapper .feature-list-item .icon-box .box,
.rev_slider_wrapper .tparrows:hover,
.fitness-care-gym-area .single-item .icon-holder::before,
.footer-bottom-area .footer-bottom:before,
.footer-bottom-area .footer-bottom:after,
.rev_slider_wrapper #slider2 .banner-caption-bg span:before,
ul.gallery-filter li:hover span, ul.gallery-filter li.active span,
.top-bar-area.home-3,
.single-footer-widget ul.recent-news li .box .overlay .content-box,
.title-3:before,
.home-contact-form button,
.customizer-box input + .slider {
    background-color: #9A1818;
}

.owl-theme .owl-nav [class*=owl-] {
    background-color: #9A1818 !important;
}

@media(max-width: 1024px) {
    .menuzord .showhide,
    .menuzord-responsive .menuzord-menu.scrollable {
        background-color: #9A1818 !important;
    }
}

.header .menuzord-menu > li:hover > a,
.header .menuzord-menu ul.dropdown li:hover > a,
.header-v2.header .menuzord-menu > li:hover > a,
.fitness-care-gym-area .single-item .icon-holder i,
.single-footer-widget ul.quick-links li a:hover,
.single-footer-widget ul.contact li .icon-holder i,
.single-footer-widget ul.recent-news li .content p:hover,
.perfect-plan-right span,
.contact-info-box .icon-box i,
.customizer-box button.toggler {
    color: #B43232;
}

.header .menuzord-menu ul.dropdown, .header .menuzord-menu ul.dropdown li ul.dropdown,
ul.gallery-filter li:hover span, ul.gallery-filter li.active span {
    border-color: #9A1818;
}

.header.home-3 .has-angle:before {
    border-top-color: #9A1818;
}

.header.home-3 .has-angle:after {
    border-bottom-color: #9A1818;
}

.header .header-top .social li a,
.footer-bottom-area .footer-bottom .social-links a i,
.top-bar-area.home-3 .social li a i,
.footer-bottom-area .footer-bottom .social-links a i {
    background-color: #9A1818 !important;
}

small.required {
    color: #D90000
}

.pmini {
    padding-bottom: 10px !important;
}


/** -------------------------------- *
 *   Customization                   *
 *  -------------------------------- */

.modal-content {
    margin-top:100px;
}

.copy-right {
    margin-right:40px;
}

.footer-aux-links a {
    color:#EEE;
    font-size:12px;
    margin:0 15px;
}

footer .caption-text {
    font-size:12px;
}

.header-menu-wrapper .navigation .menuzord a.logo-banner {
    line-height: 64px;
    overflow: visible;
    vertical-align: middle;
}

h6.hidden {
    display: none;
}

.rev_slider .colorized-dark {
    color: #670000;
}

.fitness-care-gym-area .section-title.deeper {
    padding-bottom: 30px !important;
}

span.mayusculas {
    text-transform: uppercase;
}

span.subrayado {
    text-decoration: underline;
}

#f_contacto .col-md-6 label {
    min-width: 75%;
}

#f_contacto .col-md-12 label {
    min-width: 87.5%;
}

#ubicacion {
    height:400px;
    width:100%;
    margin:4px 4px 16px;
}
