*
!.gitignore
!/README.md
!/*.html
!/favicon.ico
!/*.png
!/browserconfig.xml
!/CNAME
!/LICENSE
!/manifest.json
!/css/*.css
!/css/import/*.css
!/css/import/fonts/*.eot
!/css/import/fonts/*.svg
!/css/import/fonts/*.ttf
!/css/import/fonts/*.woff
!/css/import/fonts/*.woff2
!/css/lib/*.css
!/css/lib/default-skin/default-skin.*
!/css/lib/default-skin/preloader.gif
!/docs/privacidad.pdf
!/docs/terminos-y-condiciones.pdf
!/images/*.png
!/images/*.jpg
!/images/gallery/*.jpg
!/images/slider/*.jpg
!/js/*.js
